{% extends 'layout.html' %}

{% block body %}
  <center><h1>Change Password</h1></center>
	<form method="post" action="{{ url_for('change_password') }}" >
		<div class="form-group col-xs-3 col-lg-4 col-lg-offset-4">
			<label for="username">Username : </label>
			<input type="text" name="username" class="form-control">

			<label for="current_password">Current Password : </label>
			<input type="password" name="current_password" class="form-control">

			<label for="password">New Password : </label>
			<input type="password" name="password" class="form-control">

			<label for="confirm_password">Confirm New Password : </label>
			<input type="password" name="confirm_password" class="form-control"></br>
			<input type="submit" class="btn btn-success btn-lg btn-primary btn-block" value="Submit">
		</div>

	</form>
{% endblock %}
