{% extends 'layout.html' %}

{% block body %}

  <h1>Welcome <small> <a href="#"> {{session.username}} </a></small></h1>
  <a class="btn btn-success" href="/signup"> New Account</a>
  <a class="btn btn-success" href="/listusers"> Show Registered Users</a>

  <nav class="navbar navbar-light bg-light">
      <div class="search" align="right">
        <form class="form-inline my-2 my-lg-0" action="/search" method="post">
          <input class="form-control mr-sm-2" name = "search" type="search" size = "30" placeholder="SearchBy: username|email|phone" aria-label="Search" value="">
          <button class="btn btn-info" type="submit">Search</button>
        </form>
      </div>
    </nav>
  <hr>

  <table class="table table-striped">
    <tr>
      <th>_id</th>
      <th>Username</th>
      <th>Phone</th>
      <th>Balance</th>
      <th>Debt</th>
    </tr>
    <tbody>
      {% for col in momo_account %}
      <tr>
         <td>{{ loop.index + pagination.skip }}</td>
         <td>{{ col._id }}</td>
         <td>{{ col.Username }}</td>
         <td>{{ col.Phone }}</td>
         <td>{{ col.Balance }}</td>
         <td>{{ col.Debt }}</td>
         <td><a href="#" class="btn btn-default pull-right">Edit</a></td>
         <td>
           <form action="#" method="post">
             <input type="hidden" name="_method" value="DELETE">
             <input type="submit" value="Delete" class="btn btn-danger">
           </form>
         </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <center> {{pagination.info}} </center>
  <center> {{pagination.links}} </center>

{% endblock %}
