{% extends 'layout.html' %}

{% block body %}
  <center><h1>Forgot Password</h1></center>
	<form method="post" action="{{ url_for('forgot_password') }}">
 <div class="form-group col-xs-3 col-lg-4 col-lg-offset-4">
		<label for="username">Username : </label>
		<input type="text" name="username" class="form-control"><br/>
		<label for="email">Email : </label>
		<input type="text" name="email" class="form-control"><br/>
		<input type="submit" class="btn btn-success btn-lg btn-primary btn-block" value="Submit">
  </div>

	</form>
{% endblock %}
