{% extends 'layout.html' %}

{% block body %}
<hr>
  <center><h1>Register</h1></center>
  {% from "includes/_formhelpers.html" import render_field %}

  <form method="POST" action="">
    <div class="form-group col-xs-3 col-lg-4 col-lg-offset-4">
      {{render_field(form.name, placeholder="Enter Full Name",class_="form-control")}}
      {{render_field(form.email, placeholder="Enter Email", class_="form-control")}}
      {{render_field(form.phone, placeholder="Enter Phone", class_="form-control")}}
      {{render_field(form.username, placeholder="Enter Username", class_="form-control")}}
      {{render_field(form.password, placeholder="Enter Password", class_="form-control")}}
      {{render_field(form.confirm, placeholder="Confirm Password", class_="form-control")}}</br>
      <p><input type="submit" class="btn btn-success btn-lg btn-primary btn-block" value="Sign Up"></p>
       <!-- <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p> -->
    </div>
  </form>

{% endblock %}
